body,a{
  font-family: '微软雅黑';
}
.flex{
    display: flex;
    display: -webkit-flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
}
.route--active {
  font-weight: bold;
  text-decoration: underline;
}
.header-box{
    width: 100%;
    background: #f5f5f5;
}
.header{
  width: 1000px;
  margin:auto;
  @extend .flex;
  &-item{
    @extend .flex;
    a{
      padding: 20px;
      font-size: 16px;
    }
  }
}
