.form-content {
  width: 1000px;
  margin: 0 auto;
  .am-form-group {
    padding-bottom:50px;
    overflow: hidden;
  }
  .submit-button{
    width: 80%;
    float: right;
    margin-right: 1.5rem;
  }
}
